* {
  margin: 0px;
}
body {
  height: 100%;
  width: 100%;
  background-color: #424242;
}
.container {
  position: absolute;
  top: 40vh;
  left: 30vw;
  height: 50vh;
  width: 40vw;
}
.joke {
  margin-top: 10px;
  margin-left: 50px;
  color: #f2f4f8;
  background: #5f5f5f;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  line-height: 1.5em;
  min-height: 20vh;
  max-height: 50vh;
  width: 35vw;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 23px;
  border-radius: 10px;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
}
